<header>
    <!-- Main -->
    <div class="view intro " style="">
        <div class="full-bg-img flex-center">
            <div class="container text-center white-text wow fadeInUp">
                <div class="row text-center">
                    <div class="col-sm-12 text-center">
                        <img clas="mx-auto d-block img-fluid float-center" src="https://scramblerducati.com/immagini/Scrambler_Ducati.png" style="max-width:600px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-image m-5 mx-auto">

                            <!-- Content -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="fa fa-sun-o fa-2x float-center"></i>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="h1-responsive">
                                            {{ temp }} <small><sup>&deg;C</sup></small>
                                        </p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="h1-responsive">TEMPERATURE</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="fa fa-tint fa-2x float-center"></i>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="h1-responsive">
                                            {{ humidity }} <small>%</small>
                                        </p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="h1-responsive">HUMIDITY</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="fa fa-sun-o fa-2x float-center"></i>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="h1-responsive">
                                            {{ air_pressure }} <small>hPa</small>
                                        </p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="h1-responsive">AIR PRESSURE</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Content -->
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- /.Main -->
</header>