<header>
  <!-- Main -->
  <div class="view intro " style="">
    <div class="full-bg-img flex-center">
      <div class="container text-center white-text wow fadeInUp">
        <div class="row">
          <div class="col-sm-3"></div>

          <div class="col-sm-6">
            <div class="card card-image mb-3" style="background-image: url('https://images.contentful.com/28uk7b0wvnz9/3SMXP5d3figAcyOQcCSW0i/d07a671c2b6efd4e0ab0a584f20e1417/Hyper-939SP-MY18-Special-Livery-01-Hero-Banner-1600X1000.jpg');">

              <!-- Content -->
              <div class="text-white text-center d-flex align-items-center rgba-indigo-light py-5 px-4">
                <div class="row">
                  <div class="col-sm-4"><i class="fas fa-sun">asdfs</i></div>
                  <div class="col-sm-8">-15 <sup>&deg;C</sup></div>
                </div>
              </div>
              <!-- Content -->
            </div>
          </div>
          <div class="col-sm-3"></div>
        </div>


      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
