.view {
  background: url("../assets/scr.jpg")no-repeat center center;
  background-size: cover;
  min-height: 800px;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285F4;
  }
}

.medium-card {
  width: 50%;
}

.card-image {
  max-width: 645px;
  opacity: 0.95;
  background-image: url('../assets/garage.jpg');
}

.h1-responsive {
  text-shadow: 2px 2px #666;
}

.lead {
  color: white;
}

.lead-light {
  color: white;
  font-weight: 100;
}

.big {
  height: 1rem;
  width: 1rem;
  font-weight: 600;
}

.fill-yellow {
  color: #eadb4d;
}

.fill-green {
  fill: green;
  fill-opacity: .5;
}

.table {
  margin-top: 4rem;
  background-color: #aad7ec;
  opacity: 0.85;
}

.nav-item {
  margin-right: 2rem;
}

.bg-ducati {
  background-color: #fed030;
}

.btn-rounded {
  border-radius: 40px;
}
